p {
  color: #666666;
}

.orderItem {
  display:grid;
  grid-template-columns: 2fr 3fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 1em;
  align-items: center;
}

.itemTitle {
  font-weight: 700;
}

.price {
  align-self: end;
  justify-self: end;
}

.trashcan{
  max-height: 20px;
  max-width: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.minusBtn{
width: 20px;
border: none;
background-color: white;
line-height: 30px;
font-size: larger;
}

.plusBtn{
  height: 20px;
  width: 20px;
  margin-left: 15px;
  padding-top: 10px;
  border: none;
  background-color: white;
  font-size: larger;
}